@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cloud File Manager</h1>
    <p class="lead">Easily manage your files in the cloud with our Azure Blob Storage integration.</p>
    <hr class="my-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a class="btn btn-primary btn-lg btn-block mb-3" asp-controller="BlobStorage" asp-action="Index" role="button">
                <i class="fas fa-file-alt"></i> Manage Files
            </a>
        </div>
    </div>
</div>