@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AspNetMVCWithAzure</h1>
    <p class="lead">This is a demo ASP.NET Core MVC Application integrated with Azure Blob Storage.</p>
    <hr class="my-4">
    <p>Use the navigation bar to access different features of this application.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
